[Desktop Entry]
Name=Markpado
Name[zh_CN]=Markpado
Name[zh_TW]=Markpado
Exec=markpado
Icon=markpado
Type=Application
GenericName=Just Another Markdown Editor
