<?xml version="1.0" encoding="UTF-8"?>
<gui name="marknoto" version="1">
<MenuBar>
  <Menu name="file">
    <Merge/>
    <Action name="file_preview"/>
  </Menu>
  <Menu name="window"><text>&amp;Window</text>
    <Action name="win_onecol" />
    <Action name="win_twocol" />
    <Action name="win_threecol" />  
  </Menu>
  <Merge/>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="go_home" />
  <Action name="go_backward" />
  <Action name="go_forward" />
  <Action name="add_note" />
  <Action name="file_preview" />
  <Action name="win_onecol" />
  <Action name="win_twocol" />
  <Action name="win_threecol" />
</ToolBar>
</gui>
