[Desktop Entry]
Name=Marknoto
Name[zh_CN]=Marknoto
Name[zh_TW]=Marknoto
Exec=marknoto
Icon=markpado
Type=Application
X-DocPath=Marknoto/index.html
GenericName=A KDE Note-taking Application
GenericName[en_GB]=A KDE Note-taking Application
GenericName[zh_CN]=KDE 笔记软件
GenericName[zh_TW]=KDE 笔记程式
