[Desktop Entry]
Name=KMarkPad
Name[zh_CN]=KMarkPad
Name[zh_TW]=KMarkPad
Exec=kmarkpad %i -caption %c
Icon=kmarknote
Type=Application
GenericName=Just Another Markdown Editor
