pre, blockquote {
        font-family: "Courier New", Courier, monospace;
        font-size: 90%
        color: black;
        background-color: #ffe;
        white-space: pre-wrap;
        word-wrap: break-word;
        border: 2px solid #ddd;
        box-shadow: 3px 3px 3px #eee;
        padding: 1.2em;
}

code {
        font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	color: black;
	background-color: #ffe;
	border: 1px solid #dedede;
	padding: 0px 0.2em;
}

pre code {
	border: 0px;
}
