[Desktop Entry]
Name=KMarkNote
Name[ast]=KMarkNote
Name[bg]=KMarkNote
Name[bs]=KMarkNote
Name[ca]=KMarkNote
Name[ca@valencia]=KMarkNote
Name[cs]=KMarkNote
Name[da]=KMarkNote
Name[de]=KMarkNote
Name[el]=KMarkNote
Name[en_GB]=KMarkNote
Name[eo]=KMarkNote
Name[es]=KMarkNote
Name[et]=KMarkNote
Name[fi]=KMarkNote
Name[fr]=KMarkNote
Name[ga]=KMarkNote
Name[gl]=KMarkNote
Name[hu]=KMarkNote
Name[it]=KMarkNote
Name[ja]=KMarkNote
Name[kk]=KMarkNote
Name[km]=KMarkNote
Name[ko]=KMarkNote
Name[lt]=KMarkNote
Name[lv]=KMarkNote
Name[nb]=KMarkNote
Name[nds]=KMarkNote
Name[nl]=KMarkNote
Name[nn]=KMarkNote
Name[pa]=KMarkNote
Name[pl]=KMarkNote
Name[pt]=KMarkNote
Name[pt_BR]=KMarkNote
Name[ro]=KMarkNote
Name[ru]=KMarkNote
Name[sk]=KMarkNote
Name[sl]=KMarkNote
Name[sq]=KMarkNote
Name[sr]=KMarkNote
Name[sr@ijekavian]=KMarkNote
Name[sr@ijekavianlatin]=KMarkNote
Name[sr@latin]=KMarkNote
Name[sv]=KMarkNote
Name[tr]=KMarkNote
Name[ug]=KMarkNote
Name[uk]=KMarkNote
Name[x-test]=KMarkNote
Name[zh_CN]=KMarkNote
Name[zh_TW]=KMarkNote
Exec=kmarknote %i -caption %c
Icon=KMarkNote
Type=Application
X-DocPath=KMarkNote/index.html
GenericName=A KDE Note-taking Application
GenericName[en_GB]=A KDE Note-taking Application
GenericName[zh_CN]=KDE 笔记软件
GenericName[zh_TW]=KDE 笔记程式
