[Desktop Entry]
Name=kmarknote
Name[ast]=kmarknote
Name[bg]=kmarknote
Name[bs]=kmarknote
Name[ca]=kmarknote
Name[ca@valencia]=kmarknote
Name[cs]=kmarknote
Name[da]=kmarknote
Name[de]=kmarknote
Name[el]=kmarknote
Name[en_GB]=kmarknote
Name[eo]=kmarknote
Name[es]=kmarknote
Name[et]=kmarknote
Name[fi]=kmarknote
Name[fr]=kmarknote
Name[ga]=kmarknote
Name[gl]=kmarknote
Name[hu]=kmarknote
Name[it]=kmarknote
Name[ja]=kmarknote
Name[kk]=kmarknote
Name[km]=kmarknote
Name[ko]=kmarknote
Name[lt]=kmarknote
Name[lv]=kmarknote
Name[nb]=kmarknote
Name[nds]=kmarknote
Name[nl]=kmarknote
Name[nn]=kmarknote
Name[pa]=kmarknote
Name[pl]=kmarknote
Name[pt]=kmarknote
Name[pt_BR]=kmarknote
Name[ro]=kmarknote
Name[ru]=kmarknote
Name[sk]=kmarknote
Name[sl]=kmarknote
Name[sq]=kmarknote
Name[sr]=kmarknote
Name[sr@ijekavian]=kmarknote
Name[sr@ijekavianlatin]=kmarknote
Name[sr@latin]=kmarknote
Name[sv]=kmarknote
Name[tr]=kmarknote
Name[ug]=kmarknote
Name[uk]=kmarknote
Name[x-test]=xxkmarknotexx
Name[zh_CN]=kmarknote
Name[zh_TW]=kmarknote
Exec=kmarknote %i -caption %c
Icon=kmarknote
Type=Application
X-DocPath=kmarknote/index.html
GenericName=A Simple KDE Application
GenericName[bs]=Prosti KDE program
GenericName[ca]=Una aplicació senzilla del KDE
GenericName[ca@valencia]=Una aplicació senzilla del KDE
GenericName[cs]=Jednoduchá aplikace KDE
GenericName[da]=Et simpelt KDE-program
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[el]=Μια απλή εφαρμογή KDE
GenericName[en_GB]=A Simple KDE Application
GenericName[es]=Una aplicación sencilla para KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[ga]=Feidhmchlár Simplí KDE
GenericName[gl]=Aplicativo de KDE sinxelo
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[it]=Una semplice applicazione di KDE
GenericName[kk]=Қарапайым KDE қолданбасы
GenericName[ko]=간단한 KDE 프로그램
GenericName[lt]=Paprasta KDE programa
GenericName[nb]=Et enkelt KDE4-program
GenericName[nl]=Een eenvoudige KDE-toepassing
GenericName[pa]=ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples do KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[ru]=Простое приложение KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sl]=Preprost program za KDE
GenericName[sr]=Једноставни КДЕ програм
GenericName[sr@ijekavian]=Једноставни КДЕ програм
GenericName[sr@ijekavianlatin]=Jednostavni KDE program
GenericName[sr@latin]=Jednostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[tr]=Baist bir KDE4 Uygulaması
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
